<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <package android:name="com.google.android.gms" />
    </queries>

    <application
        android:name=".HeroNexusApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Heronexus">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Heronexus.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.auth.LoginActivity" android:exported="false" />
        <activity android:name=".ui.auth.RegisterActivity" android:exported="false" />

        <activity android:name=".ui.collection.CollectionActivity" android:exported="false" />
        <activity android:name=".ui.detail.CharacterDetailActivity" android:exported="false" />
        <activity android:name=".ui.compare.CompareActivity" android:exported="false" />
        <activity android:name=".ui.team.TeamSelectionActivity" android:exported="false" />

        <activity
            android:name=".ui.battle.BattleActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity android:name=".ui.result.BattleResultActivity" android:exported="false" />
        <activity android:name=".ui.missions.MissionsActivity" android:exported="false" />
        <activity android:name=".ui.chests.ChestsActivity" android:exported="false" />
        <activity android:name=".ui.store.SkinStoreActivity" android:exported="false" />

    </application>

</manifest>
